body {
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #434455;
}
.list{
    list-style: none;
}

/* Header nav */
.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
}

.logo span {
    color: #4D5AE5;
}

.link{
    color: #2E2F42;
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: #404BBF;
}